.section-six {
  background-color: #54d154;
  font-family: $fontMontserrat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {


    color: #207b20;

    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;

    letter-spacing: 3.2px;
    position: relative;
    &::after {
      position: absolute;
      display: block;
      content:"";
      right:50%;
      transform: translateX(50%);
      bottom:-15px;
      background-color: #207b20;
      width: 45px;
      height: 3px;
    }
  }
  &__button {
      // border:1px solid #2b9b2b;
      // color:white;
      border-radius: 25px;
      background-color: #54d154;
      // color:green;
      color: #a59d9d;
      padding: 10px 15px;
      text-decoration: none;
      font-family: $fontNovaR;
      
      padding-left: 20px;
      padding-right: 20px;
      &:hover {
        text-decoration: underline;
      }
      &-fill {
        background-color: #3eba3e;
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
    }
  }