$defaultFont:'Arial', 'Helvetica', sans-serif;
$fontStyle: normal;
$fontNautilus: 'Nautilus Pompilius', $defaultFont ;
$fontNovaR: 'ProximaNovaRegular', $defaultFont;
$fontNovaB: 'ProximaNovaBold', $defaultFont;
$fontNovaL: 'ProximaNovaLight', $defaultFont;
$fontDisplay: auto; //block swap auto

@font-face {
  font-family: 'NautilusPompilius';
  src: url(/fonts/NautilusPompilius.woff);
  font-display: $fontDisplay;
  font-style: $fontStyle;
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url(/fonts/ProximaNovaRegular/ProximaNovaRegular.woff);
  font-weight: normal;
  font-display: $fontDisplay;
  font-style: $fontStyle;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url(/fonts/ProximaNovaBold/ProximaNovaBold.woff);
  font-display: $fontDisplay;
  font-style: $fontStyle;
}
@font-face {
  font-family: 'ProximaNovaLight';
  src: url(/fonts/ProximaNovaLight/ProximaNovaLight.woff);
  font-display: $fontDisplay;
  font-style: $fontStyle;
}
